
// Color variables
$green-main: #4bcc76;
$green-dark: #0f8b39;
$green-light: #54eb86;

$orange-light: #c49300;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;


$gray-dark: #777777;
$gray-medium: #e6e6e6;
$gray-light: #f7f7f7;
$white: #ffffff;
$black: #000000;

// Font
$default-fontsize: 1.6rem;

