body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $gray-dark;
  padding: 3rem;
}

.header__title {
  color: $white;
  text-transform: uppercase;
  margin-bottom: 4rem;

  &-h1 {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */
  }
  
  &-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.73rem;
  
    animation-name: moveFromRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}

.heading-h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $green-light, $green-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }
}

.about__txt {
  &-p1 {
    font-size: 1.6rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

.heading-h3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}